html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}


.carte {
    display: flex;
    flex-direction: column;
    margin: 50px;
    border-radius: 10px;
    padding: 10px;
    background-color: burlywood;
}

    .carte img {
        width: 100%;
        height: 100px;
        border-radius: 10px;
    }

.carte-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    .carte-text p {
        font-size: 15px;
    }
