@{
    ViewData["Title"] = "Courses ";
}

<div class="container">
    @foreach (var courses in ViewBag.courses)
       {

        <div class="carte">
            <h4>Course : </h4> @courses <br></br>

        </div>
    }
</div>